[user]
    email = cybergrind@gmail.com
    name = Kirill Pinchuk
    signingkey = BB5BBD8433449F98292C98875999278597B2373E
[alias]
    d = diff HEAD
    st = status
    ci = commit
    co = checkout
    hist = log --pretty=format:\"%Cred%h %Creset%ad %Cred| [%an] | %Cgreen%s%d\" --graph --date=short --color
    type = cat-file -t
    dump = cat-file -p
    br = branch
    lc = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    lcp = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit -p
    lca = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all
    lcafp = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all --first-parent
    daydiff = diff '@{1 day ago}'..
    desc = describe
    yapf = ! git diff --cached --name-only | grep -E '.py$' | xargs -- yapf -i
    black = ! git diff --cached --name-only | grep -E '.py$' | xargs -n1 -I_file -- sh -c 'black _file && isort _file'
[color]
    ui = auto
[credential]
    helper = cache --timeout=3600000
[http]
    sslVerify = false
[commit]
    gpgsign = true
[pull]
    rebase = true
[push]
    default = tracking
[rebase]
    autostash = true
[merge]
    conflictStyle = diff3